<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Hello Home</h1> -->
    <form action="backend.django">
        <div>
            <b>Name: <input type="text" >
        </div>
        <br>
        <div>
            Mobile: <input type="text">
        </div>
        <br>
        <div>
            Email: <input type="email">
        </div>
        <br>
        <div>
            Gender: male<input type="radio" name="gender" > Female<input type="radio" name="gender">
        </div>
        <br>

        <div>
            Sumbit: <input type=submit>
        </div>
        

    </form>
</body>
</html>