<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hello seller</h2>
    <table width="800" height="300" border="1" cellspacing="0px" bgcolor="white">
        <tr>
            <th bgcolor="yellow">Name</th>
            <th bgcolor="yellow">Product</th>
            <th bgcolor="yellow">Email</th>
        </tr>
        <tr align="center">
            <td>Ashutosh</td>
            <td>Mobile</td>
            <td>Ashutosh612000@gmail.com</td>
        </tr>
        <tr align="center">
            <td>Mayank</td>
            <td>charger</td>
            <td>mayank@gmail.com</td>
        </tr>

        <tr align="center">
            <td>kapil</td>
            <td>Tv</td>
            <td>kapil@gmail.com</td>
        </tr>

    </table>
</body>


</html>